<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="tests/init.php" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">lib</directory>
    </include>
    <exclude>
      <directory>lib/vendors</directory>
      <directory>lib/config</directory>
      <directory>lib/updates</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="nrg">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
