<div id="ws-plugin-nrg-shipping-settings">
    <ul class="tabs js-tabs">
        <li class="selected"><a href="javascript:void(0)" data-tab="main">Настройки</a></li>
        <li><a href="javascript:void(0)" data-tab="about">Помощь</a></li>
    </ul>
    <div class="tab-content js-tabs-content-container">
        <div id="ws-plugin-nrg-main-tab" class="block tab js-tab-content js-fields-tab">
            <h2>Настройки</h2>
            {foreach $controls.main as $gc}{$gc}{/foreach}
        </div>
        <div id="ws-plugin-nrg-about-tab" class="hidden block tab js-tab-content">
            <h2>Помощь</h2>
            <h3>Расчет стоимости доставки ТК &laquo;Энергия&raquo;</h3>
            <p>Версия {$info.version}<br>
                &copy;Syrnik.com 2017&ndash;{if date('Y') > 2017}{date('Y')}{/if}<br>
                <a href="//www.syrnik.com/support/" target="_blank">Отправить запрос</a> или <a
                        href="mailto:support@syrnik.com?subject=Плагин расчета доставки ТК Энергия">написать письмо</a> в
                техподдержку. Мы постоянно дорабатываем наш плагин и будем рады вашим пожеланиям.</p>
            <div class="block padded">
                <h3>Вопросы и ответы</h3>
                <dl>
                    <dt>Отправляет-ли плагин заказ в транспортной компании?</dt>
                    <dd><b>Нет</b>. Только расчет стоимости
                    </dd>
                    <dt>Плагин учитывает размеры отправления?</dt>
                    <dd>Если ваше приложение поддерживает (например <i>Shop-Script 8</i>) передачу размеров
                        отправления для расчёта стоимости доставки и у вас подключен специальный плагин для
                        вычисления <i>общих габаритов отправления</i>, то наш плагин будет использовать тот
                        габарит, который ему передан. В противном случае вам нужно будет настроить таблицу средних размеров, указав
                        какой размер упаковки какому весу заказа соответствует.</dd>
                    <dt>Как правильно указать размеры упаковки?</dt>
                    <dd>Два самых важных правила. Первое: &laquo;латинская x, а не русская х в качестве раздеителя&raquo;.
                        Второе: &laquo;Правило &quot;от 0 кг.&quot;&raquo; подробнее см.
                        <a href="https://www.syrnik.com/support/faq/sydsek/correct-pckage-dimensions/"
                           target="_blank">помощь на нашем сайте</a></dd>
                    <dt>Почему нет встроенного отслеживания отправлений, а только ссылка на сайт транспортной
                        компании?
                    </dt>
                    <dd>Ограничение фреймворка. Для отслеживания через API требуется не только номер накладной, но и
                        город получателя. Во фреймворке Webasyst можно передавать только один параметр для
                        отслеживания (номер накладной).
                    </dd>
                    <dt>Срок комплектации (добавить к дате доставки ещё дней)</dt>
                    <dd>Плагин использует встроенный во фреймворк (и работающий на Shop-Script 8 и старше) механизм вычисления даты отправки.
                        Поэтому в самом плагине нет отдельных настроек срока комленктации. Для вычисления даты отгрузки Shop-Script использует
                        настройки расписания работы магазина и настройку &laquo;Допонительное время на комплектацию&raquo; на странице настроек
                        способа доставки.</dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    (function ($) {
        Promise.all([
            new Promise((resolve, reject) => {
                const url = '{$wa_static_url}wa-plugins/shipping/nrg/js/settings.js?v={$info.version}';
                if (document.getElementById('nrg-shipping-settings-js')) {
                    resolve(url);
                } else {
                    const element = document.createElement('script');
                    element.src = url;
                    element.id = 'nrg-shipping-settings-js';
                    document.head.append(element)
                    element.onload = () => resolve(url);
                    {literal}element.onerror = () => reject(new Error(`Ошибка загрузки скрипта ${url}`));{/literal}
                }
            }),
            new Promise((resolve, reject) => {
                const url = '{$wa_static_url}wa-plugins/shipping/nrg/css/settings-legacy.css?v={$info.version}';
                if (document.getElementById('nrg-shipping-settings-legacy-css')) resolve(url);
                else {
                    const element = document.createElement('link');
                    element.rel = "stylesheet";
                    element.type = "text/css";
                    element.id = "nrg-shipping-settings-legacy-css";
                    element.href = url;
                    document.head.append(element);
                    element.onload = () => resolve(url);
                    element.onerror = () => reject(new Error("Ошибка загрузки таблицы стилей"));
                }
            })
        ]).then(
            () => {
                new nrgShippingSettings({
                    $wrapper: $('#ws-plugin-nrg-shipping-settings'),
                    urls: {$urls|json_encode:256},
                    html: {
                        spinner: '<i class="icon16 loading"></i>',
                        state_error_hint: '<div class="red hint js-error-message">%message%</div>',
                    }
                });
            }
        );
    })(jQuery);
</script>
